---
import Layout from '../layouts/layout.astro';
---

<Layout>
    <section class="min-h-screen flex items-center justify-center">
      <div class="text-center">
        <h1 class="text-4xl font-bold mb-4">About Me</h1>
        <p class="text-lg mb-6">yeah</p>
      </div>
    </section>
  </Layout>