// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

$white: #ffffff !default;
$black: #161616 !default;
$light-grey: #E0E0E4 !default;
$dark-grey: #53545A !default;

$blue: #187EF6 !default;
$light-blue: #F5F6F8 !default;



