// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------
html, body {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Agrandir', sans-serif;
}
*,
::before,
*::after {
  box-sizing: inherit;
}
a {
  text-decoration: none;
  color: #000;
}
.nav {
  font-size: 1.2em;
}
.dash {
  flex-grow: 1;
  display: inline-block;
  height: 1px;
  min-width: 2rem;
  max-width: 3rem;
  background-color: #000;
  margin: auto 1rem;
}
